@font-face{
  font-family: Fjalla One;
  src:url(..//fonts/Fjallaone.ttf)
}
@font-face{
  font-family: Sourcesanspro;
  src:url(..//fonts/Sourcesanspro.ttf)
}


.blockFaceDescription{
  width:1170px;
  height:494px;
  margin-top: 65px;
  display:flex;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.blockFace{
  background-color: rgb(36, 89, 99);
  width: 370px;
  height: 490px;
}

.space-between {
  justify-content: space-between;
}
.borderRed{
  border-top: 7px solid rgb(232, 76, 61);
}
.borderYellow{
  border-top: 7px solid rgb(253, 189, 31);
}
.borderGreen{
  border-top: 7px solid rgb(27, 188, 155);
}
.ImgFace{
  margin-left: 95px;
  margin-top: 44px;
  margin-bottom: 31px;
}
.bannerTextForBlockFace {
  font-size: 16px;
  font-family: Sourcesanspro;
  line-height: 1.625;
  text-align: center;
  color: rgb(118, 178, 190);
}

.bannerTextForBlockFace p {
  margin-top: 0px; /* Отступ сверху */
  margin-bottom: 0px; /* Отступ снизу */
}

.imageReadyForFirstAvatar{
  background-size: cover;
  width:102px;
  height:46px;
  color: white;
  margin-top:32px;
  margin-left: 138px;
}
.readyRed{
  background-image: url(../img/border_red.png);
}
.readyYellow{
  background-image: url(../img/border_yellow.png);
}
.readyGreen{
background-image: url(../img/border_green.png);
}
.linkDivAvatar{
padding-left: 20px;
padding-top: 10px;
font-size: 14px;
font-family: Fjalla One;
letter-spacing: 0.3px;
}
#linkReadMoreAvatarIdOne{
  color: white;
}
#linkReadMoreAvatarIdTwo{
  color: white;
}
#linkReadMoreAvatarIdThree{
  color: white;
}

.linkReadMoreAvatar:visited{
  color: white;
}
