@font-face{
  font-family: Fjalla One;
  src:url(..//fonts/Fjallaone.ttf)
}
@font-face{
  font-family: Sourcesanspro;
  src:url(..//fonts/Sourcesanspro.ttf)
}


.footerBlock{
  margin-top:1974px;
  width: 1920px;
  height: 190px;
  background-color: rgb(36, 89, 99);
  position: absolute;
}
.blockIndo{
  display: flex;
  width: 360px;
  height: 35px;
  margin-top: 40px;
  margin-left: 775px;
  margin-right: auto;
}
.space-between {
  justify-content: space-between;
}
.imgFacebook img{
  margin-right: -10px;
}
.info{
  padding-top: 10px;
  font-size: 15px;
  font-family: Sourcesanspro;
  color: rgb(255, 255, 255);
}

.lineBorderFotter{
  width: 284px;
  height:28px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  border-bottom:1px solid rgb(56, 125, 137);
}
#infoSiteLink{
  color:rgb(253, 189, 31);
  font-family: Sourcesanspro;
}
#infoSiteLinkTwo{
  color:white;
  font-family: Sourcesanspro;
}
#infoSiteLinkFive{
  color:white;
  font-family: Sourcesanspro;
}
#infoSiteLinkSix{
  color:white;
  font-family: Sourcesanspro;
}

.infoSite{
  margin-top: 33px;
  margin-left:515px;
  width: 910px;
  font-size: 16px;
  font-family: Sourcesanspro;
  color: rgb(255, 255, 255);
}
