@font-face{
  font-family: Fjalla One;
  src:url(..//fonts/Fjallaone.ttf)
}
@font-face{
  font-family: Sourcesanspro;
  src:url(..//fonts/Sourcesanspro.ttf)
}

.letterBlock{
  width:1170px;
  height:600px;
  margin-top: 80px;
  display: flex;
}
.letterImg{
  margin-left: auto;
  margin-right: auto;
  padding-left: 2px;
  padding-top: 3px;
}
.column {
  flex-direction:column;
}
.bannerTextForLetterBlock {
  font-size: 29px;
  font-family:  Fjalla One;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 27px;
}
.line{
  margin-top: 11px;
  width: 510px;
  height: 17px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.lineBorder{
  width: 80px;
  height:13px;
  border-bottom:1px solid rgb(56, 125, 137);
}

.lineWithBannerText{
  margin-left: auto;
  margin-right: auto;
  padding-left: 2px;
  width: 305px;
  font-size: 21px;
  font-family: Fjalla One;
  color: white;
  text-align: center;
}
.InputBlocks{
  margin-left: auto;
  margin-right: auto;
  margin-top: 43px;
  width: 570px;
  height: 45px;
  display: flex;
}
.inputBlock{
  width: 270px;
  height: 46px;
  background-color: rgb(36, 89, 99);
  border:1px solid rgb(56, 125, 137);
  color: white;
  font-size: 20px;
  font-family: Fjalla One;
}
.space-between {
  justify-content: space-between;
}
.textAreaBlock
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 31px;
}
.textArea{
  resize: none;
  width: 570px;
  height: 126px;
  background-color: rgb(36, 89, 99);
  border:1px solid rgb(56, 125, 137);
  color: white;
  font-size: 20px;
  font-family: Fjalla One;
}
.imageSubmit{
  background-image: url(../img/border_green_aligned.png);
  background-size: cover;
  width:109px;
  height:49px;
  margin-left: 535px;
  margin-right: auto;
  margin-top: 28px;
  color: white;
}
.linkDivSubmit{
padding-top: 12px;
padding-right: 1px;
text-align: center;
font-size: 14px;
}
#linkReadMoreAvatarIdFour{
  color: white;
}
.linkSubmit:visited{
  color: white;
}
