@font-face{
  font-family: Fjalla One;
  src:url(..//fonts/Fjallaone.ttf)
}


.mainDiv{
  background: url(../img/mainBackground.png);
  background-size: cover;
  background-position: center center;
  width:100%;
  height:2770px;
}
.underTheMenu{
  width: 100%;
  height: 600px;
  background: url(../img/Girl.png);
  background-size: cover;
  background-position: center center;
}

.elForBanner
{
  margin-top:142px;
  margin-left:490px;
  width:50%;
  height:195px;
  color:black;
}

.bannerTextOne{
 text-align: center;
  font-family: Fjalla One;
  color: white;
  font-size:42px;
  letter-spacing: 4px;
  word-spacing: 5px;
}

.bannerTextTwo{
  text-align: center;
  font-family: Fjalla One;
  margin-top: 15px;
  color: white;
  font-size:33px;
  letter-spacing: 4px;
  word-spacing: 5px;
}
.imageReady{
  background-image: url(../img/btnReady.png);
  background-size: cover;
  width:155px;
  height:62px;
  margin-left:390px;
  margin-top: 20px;
}

.linkDiv{
  padding-left: 45px;
padding-top: 18px;
}
.linkReadMore{
 color:white;
}
.linkReadMore:visited{
  color: white;
}

.bannerTextMainWinow {
  font-size: 29px;
  font-family: Fjalla One;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top:70px;
  margin-left:485px;
}
.secondBannerTextMainWinow {
  font-size: 21px;
  font-family: Fjalla One;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top:10px;
  margin-left:390px;
}
