@font-face{
  font-family: Fjalla One;
  src:url(..//fonts/Fjallaone.ttf)
}


.mainDiv{
  background: url(../img/mainBackground.png);
  background-size: cover;
  background-position: center center;
  width:1920px;
  height:2770px;
}
.underTheMenu{
  width: 100%;
  height: 600px;
  background-color: rgb(36,89,99)
}
.ImgGirl{
  background-image: url(../img/Girl.png);
  width: 1820px;
  height: 600px;
}
.Layer_1 {
  background-image: url("Layer 1.png");
  opacity: 0.4;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1820px;
  height: 805px;
  z-index: 57;
}

.elForBanner
{
  margin-top:138px;
  margin-left:506px;
  width:50%;
  height:195px;
  color:black;
}

.bannerTextOne{
 text-align: center;
  font-family: Fjalla One;
  line-height: 1.2;
  color: white;
  font-size:41px;
  letter-spacing: 5px;
}
.bannerTextTwo{
  text-align: center;
  font-family: Fjalla One;
  margin-top: 17px;
  color: white;
  font-size:30px;
  letter-spacing: 5.5px;
}

.imageReady{
  background-image: url(../img/btnReady.png);
  background-size: cover;
  width:150px;
  height:62px;
  margin-left:380px;
  margin-top: 18px;
}

.linkDiv{
font-size: 17px;
font-family: Fjalla One;
padding-left: 38px;
padding-top: 18px;
}
#linkReadMoreId{
 color:white;

}
.linkReadMore:visited{
  color: white;
}

.bannerTextMainWinow {
  font-size: 29px;
  font-family: Fjalla One;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top:75px;
  margin-left:483px;
}
.secondBannerTextMainWinow {
  font-size: 21px;
  font-family: Fjalla One;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top:10px;
  margin-left:387px;
}
