@font-face {
  font-family: Fjalla One;
  src: url(..//fonts/Fjallaone.ttf)
}

@font-face {
  font-family: Sourcesanspro;
  src: url(..//fonts/Sourcesanspro.ttf)
}

body {
  margin: 0;
  font-family: Fjalla One, "Simpson", Tahoma;
  background-color: rgb(41, 96, 107);
}

ul {
  list-style: none;
  margin-left: 376px;
  margin-right: auto;
  width: 1168px;
  height: 78px;
}

a {
  text-decoration: none;
}

i {
  margin-right: 10px;
}

button {
  font-family: Fjalla One, "Simpson", Tahoma;
}

.toMenu {
  display: flex;
  align-items: center;
  height: 78px;
}

.toMenu ul {
  background: rgba(49, 96, 107, 0.4);
  border: 1px solid rgba(42, 108, 120, 0.5);
  overflow: hidden;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.toMenu li {
  margin-top: 27px;
  margin-right: 33px;
}

.toMenu a {
  display: block;
  padding: 2px;
  font-size: 17px;
  color: white;
}

.toMenu a:hover {
  background: #ADC0CE
}

li#NameSite {
  margin-top: 26px;
  padding-right: 652px;
  width: 150px;
  color: white;
  font-size: 25px;
}

.mainDiv {
  background-color: rgb(41, 96, 107);
  background-size: cover;
  background-position: center center;
  width: 1920px;
  height: 100%;
}

.underTheMenu {
  width: 100%;
  height: 600px;
  background-color: rgb(36, 89, 99)
}

.ImgGirl {
  background-image: url(../img/Girl.png);
  width: 1920px;
  height: 600px;
}

.elForBanner {
  margin-top: 138px;
  height: 195px;
  color: black;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.bannerTextOne {
  text-align: center;
  line-height: 1.2;
  color: white;
  font-size: 41px;
  letter-spacing: 5px;
}

.bannerTextTwo {
  text-align: center;
  margin-top: 17px;
  color: white;
  font-size: 30px;
  letter-spacing: 5px;
}

.imageReady {
  font-family: Fjalla One, "Simpson", Tahoma;
  background-image: url(../img/btnReady.png);
  background-size: cover;
  width: 150px;
  height: 62px;
  margin-top: 21px;
}

#linkReadMoreId {
  color: white;
}

.linkReadMore:visited {
  color: white;
}

.bannerTextMainWinow {
  font-size: 29px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 75px;
  margin-left: 483px;
}

.secondBannerTextMainWinow {
  font-size: 21px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 10px;
  margin-left: 387px;
}

.letterBlock {
  width: 1170px;
  height: 600px;
  margin-top: 80px;
  display: flex;
  align-items: center;
}

.letterImg {
  padding-left: 2px;
  padding-top: 3px;
}

.column {
  flex-direction: column;
}

.bannerTextForLetterBlock {
  font-size: 29px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 27px;
}

.line {
  margin-top: 11px;
  width: 510px;
  height: 17px;
  display: flex;
  justify-content: space-between;
}

.lineBorder {
  width: 80px;
  height: 13px;
  border-bottom: 1px solid rgb(56, 125, 137);
}

.lineWithBannerText {
  padding-left: 2px;
  width: 305px;
  font-size: 21px;
  color: white;
  text-align: center;
}

.InputBlocks {
  margin-top: 43px;
  width: 570px;
  height: 45px;
  display: flex;
}

.inputBlock {
  width: 270px;
  height: 46px;
  background-color: rgb(36, 89, 99);
  border: 1px solid rgb(56, 125, 137);
  color: white;
  font-size: 20px;
}

.space-between {
  justify-content: space-between;
}

.textAreaBlock {
  margin-top: 31px;
}

.textArea {
  resize: none;
  width: 570px;
  height: 126px;
  background-color: rgb(36, 89, 99);
  border: 1px solid rgb(56, 125, 137);
  color: white;
  font-size: 20px;
}

.imageSubmit {
  background-image: url(../img/border_green_aligned.png);
  background-size: cover;
  width: 109px;
  height: 50px;
  margin-top: 28px;
  color: white;
}

.linkDivSubmit {
  padding-top: 12px;
  padding-right: 1px;
  text-align: center;
  font-size: 14px;
}

#linkReadMoreAvatarIdFour {
  color: white;
}

.linkSubmit:visited {
  color: white;
}

.fourColorMainBlock {
  position: absolute;
  width: 1170px;
  height: 672px;
  margin-left: 375px;
  margin-top: -79px;
  background-color: white;
  display: flex;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.firstColorBlock {
  background-color: rgb(232, 76, 61);
  width: 585px;
  height: 336px;
}

.secondColorBlock {
  background-color: rgb(253, 189, 31);
  width: 585px;
  height: 336px;
}

.thirdColorBlock {
  background-color: rgb(27, 188, 155);
  width: 585px;
  height: 336px;
}

.fourthColorBlock {
  background-color: rgb(155, 88, 181);
  width: 585px;
  height: 336px;
}

.bannerTextForColor {
  font-size: 29px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 6px;
}

.bannerTextTwoForColor {
  font-size: 16px;
  font-family: Sourcesanspro, "Simpson", Tahoma;
  color: rgb(255, 255, 255);
  margin-right: 13px;
  text-align: center;
  line-height: 1.2;
}

.bannerTextTwoForColor p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.Img {
  margin-left: 243px;
  margin-top: 58px;
  margin-bottom: 25px;
}

.footerBlock {
  margin-top: 1974px;
  width: 1920px;
  height: 190px;
  background-color: rgb(36, 89, 99);
  position: absolute;
}

.blockIndo {
  display: flex;
  align-items: center;
  width: 360px;
  height: 35px;
  margin-top: 40px;
  margin-left: 775px;
}

.space-between {
  justify-content: space-between;
}

.info {
  padding-top: 10px;
  font-size: 15px;
  font-family: Sourcesanspro, "Simpson", Tahoma;
  color: rgb(255, 255, 255);
}

.lineCenterBorder {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.lineBorderFotter {
  width: 284px;
  height: 28px;
  border-bottom: 1px solid rgb(56, 125, 137);
}

#infoSiteLink {
  color: rgb(253, 189, 31);
  font-family: Sourcesanspro, "Simpson", Tahoma;
}

#infoSiteLinkFive {
  color: white;
  font-family: Sourcesanspro, "Simpson", Tahoma;
}

#infoSiteLinkSix {
  color: white;
  font-family: Sourcesanspro, "Simpson", Tahoma;
}

.infoSite {
  margin-top: 33px;
  margin-left: 515px;
  width: 910px;
  font-size: 16px;
  font-family: Sourcesanspro, "Simpson", Tahoma;
  color: rgb(255, 255, 255);
}

.blockFaceDescription {
  width: 1170px;
  height: 494px;
  margin-top: 65px;
  display: flex;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.blockFace {
  background-color: rgb(36, 89, 99);
  width: 370px;
  height: 490px;
}

.space-between {
  justify-content: space-between;
}

.borderRed {
  border-top: 7px solid rgb(232, 76, 61);
}

.borderYellow {
  border-top: 7px solid rgb(253, 189, 31);
}

.borderGreen {
  border-top: 7px solid rgb(27, 188, 155);
}

.ImgFace {
  margin-left: 95px;
  margin-top: 44px;
  margin-bottom: 31px;
}

.bannerTextForBlockFace {
  font-size: 16px;
  font-family: Sourcesanspro, "Simpson", Tahoma;
  line-height: 1.625;
  text-align: center;
  color: rgb(118, 178, 190);
}

.bannerTextForBlockFace p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.imageReadyForFirstAvatar {
  background-size: cover;
  width: 102px;
  height: 46px;
  color: white;
  margin-top: 32px;
  margin-left: 138px;
}

.readyRed {
  background-image: url(../img/border_red.png);
}

.readyYellow {
  background-image: url(../img/border_yellow.png);
}

.readyGreen {
  background-image: url(../img/border_green.png);
}

.buttonSubmitHeader {
  font-size: 17px;
  color: white;
  cursor: pointer;
  width: 143px;
  height: 45px;
  background-color: Transparent;
  background-repeat: no-repeat;
  margin-top: 6px;
  margin-left: 3px;
  border: none;
}

.buttonSubmitAvatar {
  margin-top: 1px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  width: 102px;
  height: 35px;
  border: none;
  letter-spacing: 0.3px;
}

.buttonSubmit {
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 4px;
  width: 100px;
  height: 32px;
  border: none;
}

.redForButton {
  background-color: rgb(232, 76, 61);
}

.yellowForButton {
  background-color: rgb(253, 189, 31);
}

.lightGreenForButton {
  background-color: rgb(27, 188, 155);
}

.darkGreenForButton {
  background-color: rgb(36, 89, 99);
}

@media screen and (min-device-width: 1600px) {
  .mainDiv {
    width: 1600px;
  }
}

@media screen and (device-width: 1280px) {
  .mainDiv {
    width: 1280px;
  }
}

@media screen and (device-width: 1024px) {
  .mainDiv {
    width: 1024px;
  }
}
@media screen and (device-width: 375px) {
  .mainDiv {
    width: 375px;
  }
}
