@font-face{
  font-family: Fjalla One;
  src:url(..//fonts/Fjallaone.ttf)
}

body {margin:0}
ul {
  list-style: none;
  margin-left:  376px;
  margin-right:  auto;
  width: 1168px;
  height: 78px;
}
a {
  text-decoration: none;
  font-family: Fjalla One;
}
i {
  margin-right: 10px;
}
nav {
  display: block;
  margin: 0 auto;
}

.toMenu ul {
    background: rgba(49, 96, 107, 0.4);
    border: 1px solid rgba(42, 108, 120, 0.5);
    overflow: hidden;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.toMenu li {
    margin-top: 27px;
    margin-right: 32.5px;
}
.toMenu a {
  display: block;
  padding: 2px;
  font-size: 17px;
  color: white;
}
.toMenu a:hover {background: #ADC0CE}

.NameSite
{
  font-family: Fjalla One;
  margin-top:26px;
  margin-right:685px;
  width: 150px;
  color:white;
  font-size:25px;
}
